@import colors

.img-responsive
  display block
  max-width 100%
  height auto

.img-captioned
  img
    border-radius $radius
    padding $radius
    box-shadow 0 2px 2px 0 rgba(0,0,0, .25)
  .caption
    text-align center
    > *
      margin-top .5rem
      margin-bottom 1.5rem

.img-thumb
  img
    display block
    max-width 100%
    height auto

  &.is-circle
    &.is-s img
      width 120px
      height 120px
      border-radius 60px
    &.is-m img
      width 180px
      height 180px
      border-radius 90px
    &.is-l img
      width 240px
      height 240px
      border-radius 120px
