@import colors

.img-responsive
  display block
  max-width 100%
  height auto

.img-captioned
  &.is-s
    width 320px
  &.is-m
    width 480px
  &.is-l
    width 640px
  img
    max-width 100%
    display block
    border-top-right-radius $radius
    border-top-left-radius $radius

  .caption
    border: 1px solid $colors.grey
    border-bottom-right-radius $radius
    border-bottom-left-radius $radius
    border-top none
    text-align center
    > *
      margin-top 0
      padding-top .5rem
      margin-bottom .5rem

.img-thumb
  img
    display block
    max-width 100%
    height auto

  &.is-s img
    width 120px
    height 120px
    border-radius 60px
  &.is-m img
    width 180px
    height 180px
    border-radius 90px
  &.is-l img
    width 240px
    height 240px
    border-radius 120px
