extends shared/layout

mixin colors(i, j)
  each color, index in ['text', 'brown', 'grey', 'yellow', 'orange', 'red', 'blue', 'green']
    if index >= i && index <= j
      .c-3.color-container
        .color(class='bg-' + color)
          .color-desc
            p= color


block body
  .container
    section.color-section

      .section-heading
        h1 Colors

      .section-intro
        p.text-and-code
          span All colors are availabe as
          code .c-[color-name]
          span to set the color, and
          code .bg-[color-name]
          span to set the background-color.

      .row
        +colors(0,3)
      .row
        +colors(4,7)
