extends shared/layout

block body
  section.container
    .section-heading
      h1 Grid
    .c-6
      p c-6
    .c-6
      p c-6
    .c-12
      p c-12
    .c-4
      p c-4
    .c-5
      p c-5
    .c-3
      p c-3
