extends shared/layout

block body
  section.container
    .glisten-hero
      h3 Glisten

    .glisten-intro
      p Welcome! To get the best experience when viewing this style guide a larger (> 700px wide) device is recommended.
