extends shared/layout

block body
  section.container
    .glisten-intro
      h3 Welcome to Glisten.

      p Glisten is a simple and minimalistic styleguide created created by me, Alexander Pekkari, for use in my project pages. Feel free to use it as you please, as well as contribute on github!

      p
        span For more info about me, visit
        a(href="http://alepek.github.io")  my github page
