extends shared/layout

block body
  section.container
    h1 Typography

    h1 Heading one
    h2 Heading two
    h3 Heading three
    h4 Heading four
    h5 Heading five

    p Normal paragraph text
