extends shared/layout

block body
  section.container
    .section-heading
      h1 Typography

    h2.sub-heading Headings
    h1.text-and-code
      span Heading one -
      code 2.25rem (36px @16px base)
    h2.text-and-code
      span Heading two -
      code 1.75rem (28px @16px base)
    h3.text-and-code
      span Heading three -
      code 1.5rem (24px @16px base)
    h4.text-and-code
      span Heading four -
      code 1.25rem (20px @16px base)
    h5.text-and-code
      span Heading five -
      code 1rem (16px @16px base)
    h6.text-and-code
      span Heading six -
      code .8rem (12.8px @16px base)


    h2.sub-heading Text
    p.text-and-code
      span Normal paragraph text
      code 16px
