extends shared/layout

block body
  section.container
    .section-heading
      h1 Typography

    .section-intro
      p Glisten uses the Lato font, provided by Google fonts.

      p A standard line-height of 1.6 is applied to all headings, while paragraphs have a default line-height of 1.55.

    h2.sub-heading Headings
    h1.text-and-code
      span Heading one -
      code 2.25rem (36px @16px base)
    h2.text-and-code
      span Heading two -
      code 1.75rem (28px @16px base)
    h3.text-and-code
      span Heading three -
      code 1.5rem (24px @16px base)
    h4.text-and-code
      span Heading four -
      code 1.25rem (20px @16px base)
    h5.text-and-code
      span Heading five -
      code 1rem (16px @16px base)
    h6.text-and-code
      span Heading six -
      code .8rem (12.8px @16px base)
    p.text-and-code
      span Normal paragraph text
      code 16px

    h2.sub-heading Contextual colors
    p.t-muted.text-and-code
      span'Explain all that,' said the Mock Turtle.
      code .t-muted
    p.t-confirm.text-and-code
      span'Explain all that,' said the Mock Turtle.
      code .t-confirm
    p.t-info.text-and-code
      span'Explain all that,' said the Mock Turtle.
      code .t-info
    p.t-warning.text-and-code
      span'Explain all that,' said the Mock Turtle.
      code .t-warning
    p.t-error.text-and-code
      span'Explain all that,' said the Mock Turtle.
      code .t-error

    h2.sub-heading Utilities
    p.text-and-code.t-left
      code .t-left
    p.text-and-code.t-center
      code .t-center
    p.text-and-code.t-right
      code .t-right

    p.text-and-code
      code.is-bold .is-bold
      code.is-italic .is-italic
