section.container
  .c-12.footer-links
    .separator
    a.github-link(href="https://github.com/alepek/glisten", data-no-instant='')
      img.img-responsive(src='http://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
    a.github-link.is-portrait(href="http://alepek.github.io", data-no-instant='')
      img.img-responsive(src='http://avatars1.githubusercontent.com/u/5012939?v=3&s=460')
