section.container
  .col-12
    .separator
    a.github-link(href="https://github.com/alepek/glisten")
      img.img-responsive(src='http://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png')
