<!DOCTYPE html>

html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='style/glisten.css', rel='stylesheet', type='text/css')
    link(href='style/demo.css', rel='stylesheet', type='text/css')
    block head
      title Glisten

  body
    include nav

    block body

  footer
    block footer
