html
  head
    link(href='style/glisten.css', rel='stylesheet', type='text/css')
    link(href='style/demo.css', rel='stylesheet', type='text/css')
    block head

  body
    include nav

    block body

  footer
    block footer
