$font-base = #3F3A3F
$h-dark = $font-base
$h-light = lighten($font-base, 25%)
$h-muted = lighten($font-base, 33%)
$p-dark = $font-base
$p-light = lighten($font-base, 33%)
$p-light = lighten($font-base, 45%)
