@import 'glisten/colors'
@import nav

$border-color = lighten($colors.grey, 75%)
$nice-shadow = 0 1px 2px 0 rgba(63, 58, 63, .25)

@media screen and (max-width: 719px)
  table
    td
      padding .5rem

  .section-intro
    > *
      margin 1rem .5rem


@media screen and (min-width: 720px)
  .section-heading
    margin 2rem 2rem 3rem
  .section-intro
    margin 3rem

    > *
      margin 1rem 2rem

  table
    td
      padding .5rem 2rem .5rem .5rem

#instantclick-bar {
  background: $colors.blue
}

body
  margin 0
  padding 0 0 2rem

section
  margin 0 auto
  padding 0 1rem

  .section-heading
    margin 0 auto
    text-align center

  .sub-heading
    border-bottom: 1px solid $border-color

  .section-intro
    text-align center
    table
      margin 0 auto

.tooltip
  padding .5rem 1rem
  margin 2rem 0 1rem
  box-shadow: $nice-shadow
  border-top-right-radius 4px
  border-bottom-right-radius 4px

  &.is-info
    border-left: 5px solid $colors.green
  &.is-warning
    border-left: 5px solid $colors.orange

.text-and-code
  span,
  code
    margin 0 .25em
    display inline-block
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0


table
  border-radius 4px
  box-shadow: $nice-shadow
  text-align left

  thead
    background #ececec

  td
    padding .5rem

code
  font-family Consolas, monaco, monospace
  background $border-color
  padding 2px 4px
  border-radius 2px
  white-space nowrap

// Landing

// Typopgraphy
.heading-examples
  for c in 1..6
    h{c}
      code
        margin-left 1rem
        font-size 1rem

// Colors
.color-container
  .color
    margin 0 auto 2rem
    height 8rem
    width 8rem
    border-radius 4rem
    position relative

  .color-desc
    text-transform uppercase
    width 100%
    text-align center
    color white
    position absolute
    bottom 1rem
    text-shadow 0px 1px 1px #555555
    transition all .2s ease

// Grid demo
.grid-examples
  .row
    margin-bottom 1rem

    [class^="c-"]
      &:not(:first-child)
        border-left 1px solid #ccc
      &:not(:last-child)
        border-right 1px solid #ccc

    code
      width 100%
      display inline-block
      padding .5rem
      background: $border-color

// Images demo
.image-thumbnails-examples
  margin 3rem auto
  text-align center
  .img-thumb
    display inline-block
    &:not(:last-child)
      padding-right 1rem
    &:not(:first-child)
      padding-left 1rem

.image-caption-examples
  margin 3rem auto
  text-align center

  .img-captioned
    margin-bottom 3rem
