// Super simple grid system inspired by https://gist.github.com/JeffreyWay/1481756
// Extends to full width of parent container and collapses under 520px.

$full-width = 100
$columns = 12
$gutter = 0

*
  box-sizing border-box

.container
  width unit($full-width, '%')
  margin auto
  overflow hidden
  max-width $max-width

.row
  clearfix()

  &.has-g >
    [class^="c-"]
      &:not(:first-child)
        padding-left 8px
      &:not(:last-child)
        padding-right 8px


[class^="c-"]
  display inline
  float left

for col in 1..$columns
  .c-{col}
    width unit((col / $columns - $gutter / 100 * 2) * 100, '%')

@media screen and (max-width: 520px)
  [class^="c-"]
    float none
    display block
    width 100%
    margin 0
